@charset "utf-8";

:root{
  --base1: #ffffff;
  --base2: #f4f4f8;
  --base3: #e4e4e8;
  --base4: #d4d4d8;

  --red1: #E64F40;

  --orange1: #dd9434;

  --green1: #609159;
  --green2: #CAE640;


  --blue1: #8695f2;

  --text1: #222222;
  --text2: #555555;
  --text3: #888888;
}

:root{
  --navHeight: 5rem;
  --navItemNum: 3;
}

:root{
  --shadowInset: inset 0.1rem 0.1rem 0.25rem var(--base3), inset -0.1rem -0.1rem 0.25rem var(--base1);
}