@charset "utf-8";

/* ================================================== */
/* ================================================== */
/* ================================================== */

a#back-btn{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  
  display: block;

  width: 5rem;
  aspect-ratio: 1 / 1;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0 0 1rem 0;

  background-color: var(--base1);

  box-shadow: var(--shadowRaised);

  text-decoration: none;

  cursor: pointer;
}
a#back-btn>span{
  display: block;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  
  color: var(--text2);
  line-height: 5rem;
  text-align: center;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

button#setting-window-open-btn{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  
  display: block;

  width: 5rem;
  aspect-ratio: 1 / 1;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0 0 0 1rem;

  background-color: var(--base1);

  box-shadow: var(--shadowRaised);

  cursor: pointer;
}
button#setting-window-open-btn>span{
  display: block;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  color: var(--text2);
  line-height: 5rem;
  text-align: center;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

div#setting-window{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 2rem 0;

  border: none;
  border-radius: 0;

  background-color: var(--base1);

  box-shadow: var(--shadowRaised);


  transition: all .2s;
  transform: translateY(100%);
}
div#setting-window.active{
  transform: translateY(0);
}

/* ================================================== */

div#setting-window>h3{
  display: block;

  width: fit-content;
  height: fit-content;

  margin: 0 0 1.5rem 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

/* ================================================== */

div#setting-window>form#setting-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  width: 90%;
  height: fit-content;

  margin: 0 auto 1.5rem auto;
  padding: 0;
}

/* ================================================== */

form#setting-container>div.setting-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 2rem * 2);
  height: 3rem;

  margin: 0;
  padding: 0.5rem 2rem;

  border: none;
  border-radius: 1rem;

  background-color: var(--base2);
  
  box-shadow: var(--shadowRaised);
}

/* ================================================== */

div.setting-item>label{
  display: inline-block;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

/* ================================================== */

div.setting-item>select{
  display: block;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 100rem;

  box-shadow: var(--shadowInset);

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

/* ================================================== */

div.setting-item span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 100%;

  margin: 0;
  padding: 0;
}
div.setting-item>span{
  gap: 3rem;
}
div.setting-item>span span{
  gap: 2rem;
}

div.setting-item span>label{
  display: inline-block;

  width: fit-content;
  height: 100%;

  margin: 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

div.setting-item span>input[type="radio"]{
  margin: 0;
  padding: 0;

  transform: scale(1.5);
}

/* ================================================== */
/* ================================================== */

div#setting-window>div#setting-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div#setting-window>div#setting-button-container>button{
  display: block;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0.5rem 1.5rem;

  border: none;
  border-radius: 100rem;

  background-color: var(--blue1);

  color: var(--base1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}
div#setting-window>div#setting-button-container>button#setting-window-close-with-save-btn{
  background-color: var(--green-background);
  color: var(--green-text);
}
div#setting-window>div#setting-button-container>button#setting-window-close-without-save-btn{
  background-color: var(--red-background);
  color: var(--red-text);
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

div#progress-bar-container{
  position: fixed;
  top: 0;
  left: calc(5rem + 1rem);
  z-index: 9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;

  width: calc(100% - 5rem * 2 - 1rem * 2 - 1rem * 2);
  height: 3rem;

  margin: 0;
  padding: 1rem;

  border: none;
  border-radius: 0 0 1rem 1rem;
  
  background-color: var(--base1);

  box-shadow: var(--shadowRaised);

  transform: translateY(-100%);

  transition: all .2s;
}
div#progress-bar-container.active{
  transform: translateY(0);
}

/* ================================================== */

div#progress-bar-container>div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;
}

div#progress-bar-container>div>h3{
  display: block;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;

  color: var(--text2);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

div#progress-bar-container>span#progress-bar-background{
  position: relative;

  display: block;

  width: 100%;
  height: 0.5rem;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 100rem;

  background-color: var(--base2);

  overflow: hidden;
}

div#progress-bar-container>span#progress-bar-background>span#progress-bar{
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  /* width: calc(attr(data-progress type(<number>)) * 1%); */
  height: 100%;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 100rem;

  background: linear-gradient(90deg,#307af4 0%, #7f5cec 100%);
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

div#quiz-window{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;

  width: calc(100% - 2rem * 2);
  max-height: calc(100dvh - 7rem - 2rem);

  margin: auto;
  padding: 7rem 2rem 2rem 2rem;

  overflow-y: auto;
}

/* ================================================== */

div#quiz-window>h3{
  display: none;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;

  color: var(--text2);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;

  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}
div#quiz-window>h3.active{
  display: block;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

form#quiz-container{
  display: none;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;
}
form#quiz-container.active{
  display: flex;
}

/* ================================================== */
/* ================================================== */

form#quiz-container>div#quiz-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: calc(100% - 2rem * 2);
  height: fit-content;

  margin: 0;
  padding: 4rem 2rem;

  border: none;
  border-radius: 2rem;

  background-color: var(--base1);

  box-shadow: var(--shadowRaised);
}

form#quiz-container>div#quiz-card>p#quiz-japanese{
  display: block;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 2rem;

  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0rem;
}

form#quiz-container>div#quiz-card>div#quiz-answer-border{
  display: block;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0.2rem;

  border: none;
  border-radius: 1.2rem;
  
  background: var(--base3);
}
form#quiz-container>div#quiz-card>div#quiz-answer-border:has(input#quiz-answer:focus){
  background: linear-gradient(90deg,#307af4 0%, #7f5cec 100%);
}

form#quiz-container>div#quiz-card>div#quiz-answer-border>input#quiz-answer{
  display: block;

  width: calc(100% - 2rem * 2);
  height: fit-content;

  margin: 0;
  padding: 1rem 2rem;
  
  outline: none;
  border: none;
  border-radius: 1rem;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;

  line-height: 2rem;
  text-align: justify;
  text-decoration: none;
  letter-spacing: 0;

  white-space: normal;

  resize: none;
}


/* ================================================== */
/* ================================================== */

form#quiz-container>div#quiz-german-container{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: fit-content;
  height: fit-content;

  margin: 0 auto;
  padding: 2rem;

  border: none;
  border-radius: 1rem;

  background-color: var(--base4);

  box-shadow: var(--shadowRaised);
}
form#quiz-container>div#quiz-german-container.active{
  display: flex;
}
form#quiz-container>div#quiz-german-container[data-t_or_f="true"]{
  background-color: var(--green-background);
}
form#quiz-container>div#quiz-german-container[data-t_or_f="false"]{
  background-color: var(--red-background);
}

form#quiz-container>div#quiz-german-container>span{
  display: none;

  height: 4rem;
  aspect-ratio: 1 / 1;

  margin: auto 0;
  padding: 0;

  border: none;
  border-radius: 50%;

  color: var(--base1);
  font-size: 2.5rem;

  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}
form#quiz-container>div#quiz-german-container[data-t_or_f="true"]>span#quiz-german-icon-true{
  display: block;
  background-color: var(--green-text);
}

form#quiz-container>div#quiz-german-container[data-t_or_f="false"]>span#quiz-german-icon-false{
  display: block;
  background-color: var(--red-text);
}

form#quiz-container>div#quiz-german-container>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

form#quiz-container>div#quiz-german-container>div>p{
  display: block;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;

  font-family: "Jost", "Noto Sans JP", sans-serif;

  text-align: left;
  text-decoration: none;
  letter-spacing: 0;
}
form#quiz-container>div#quiz-german-container>div>p#quiz-german-judgement{
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
}
form#quiz-container>div#quiz-german-container>div>p#quiz-german{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}
form#quiz-container>div#quiz-german-container[data-t_or_f="true"]>div>p{
  color: var(--green-text);
}
form#quiz-container>div#quiz-german-container[data-t_or_f="false"]>div>p{
  color: var(--red-text);
}

/* ================================================== */
/* ================================================== */

form#quiz-container>span#quiz-attribute-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;
}

form#quiz-container>span#quiz-attribute-container>span{
  display: block;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0.5rem 1.5rem;

  border: none;
  border-radius: 1.5rem;

  box-shadow: var(--shadowRaised);

  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;

  line-height: 1.2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

/* ================================================== */
/* ================================================== */

form#quiz-container>div#quiz-note-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: calc(100% - 2rem * 2);
  height: fit-content;

  margin: 0;
  padding: 2rem;

  border: none;
  border-radius: 2rem;

  background-color: var(--base1);

  box-shadow: var(--shadowRaised);
}
form#quiz-container>div#quiz-note-container.active{
  display: flex;
}

form#quiz-container>div#quiz-note-container>h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;

  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;

  color: var(--text2);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}
form#quiz-container>div#quiz-note-container>h3>span{  
  color: var(--text2);
  font-size: 2rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}


form#quiz-container>div#quiz-note-container>p#quiz-note{
  display: inline-block;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;

  color: var(--text2);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;

  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

div#quiz-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

button#quiz-next{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: calc(100% - 2rem * 2);
  height: fit-content;

  margin: 0;
  padding: 1rem 2rem;

  outline: none;
  border: none;
  border-radius: 1rem;
  
  background: linear-gradient(90deg,#307af4 0%, #7f5cec 100%);

  box-shadow: var(--shadowRaised);

  color: var(--base1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;

  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
  
  cursor: pointer;
}
button#quiz-next.active{
  display: flex;
}
button#quiz-next[disabled]{
  background: var(--base3);

  color: var(--text3);
  
  cursor: auto;
}
button#quiz-next>span{
  font-size: 1.6rem;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */

button#quiz-previous{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: calc(100% - 2rem * 2);
  height: fit-content;

  margin: 0;
  padding: 0 2rem;

  outline: none;
  border: none;
  border-radius: 0;

  background: none;

  color: var(--text3);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;

  line-height: 2.5rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  letter-spacing: 0;
  
  cursor: pointer;
}
button#quiz-previous.active{
  display: flex;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */

/* タブレット･PC用 */
@media (min-width: 768px) {
}