@charset "utf-8";

:root{
  --background: #f7fafe;

  --base1: #ffffff;
  --base2: #f4f4f8;
  --base3: #e4e4e8;
  --base4: #d4d4d8;

  --red-background: #f9dfe3;
  --red-text: #f2546a;

  --green-background: #f1f9f4;
  --green-text: #07a352;

  --text1: #16202f;
  --text2: #555555;
  --text3: #888888;

  --gender-m-background: #d5d8f5;
  --gender-m-text: #3552b2;
  --gender-n-background: var(--green-background);
  --gender-n-text: var(--green-text);
  --gender-f-background: var(--red-background);
  --gender-f-text: var(--red-text);
  --gender-pl-background: #fbe4cd;
  --gender-pl-text: #b16820;

  --separatable-true-background: #c5f1f1;
  --separatable-true-text: #0a7375;
  --separatable-false-background: #decbf7;
  --separatable-false-text: #461684;
}

:root{
  --navHeight: 5rem;
  --navItemNum: 3;
}

:root{
  --shadowRaised: 0.15rem 0.15rem 0.5rem var(--base3), -0.15rem -0.15rem 0.5rem var(--base1);
  --shadowInset: inset 0.1rem 0.1rem 0.25rem var(--base3), inset -0.1rem -0.1rem 0.25rem var(--base1);
}